<%- include("navbar") -%>
<h1 
style="text-align: center;
color: white;
margin-top: 50px;
font-family: 'Mystery Quest', cursive;">
About us</h1>



<body>
<div class="section">
  <div class="container">
    <!-- <button class="btn"><i class="fa fa-home"></i> Home</button> -->

    <div class="content-section">
      <div class="title">
      </div>
      <div class="content">
        <!-- <h3>Hymn</h3> -->
        <p style="color: white;">With Hymn, it’s easy to find the right music or podcast for every moment – 
          on your phone, your computer, your tablet and more.
There are millions of tracks and episodes on Hymn. So whether you’re behind the wheel, working out, partying or relaxing,
the right music or podcast is always at your fingertips.
 Choose what you want to listen to, or let Hymn surprise you.
You can also browse through the collections of friends, artists, and celebrities, or just sit back.
Soundtrack your life with Hymn.</p>
<div class="button">
  <a href="https://en.wikipedia.org/wiki/Digital_music_store">Read More</a>
      </div>
    </div>
    <div class="social">
<a href="https://pinterest.com"><i class="fab fa-pinterest"></i></a>
<a href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
<a href="https://instagram.com"><i class="fab fa-instagram"></i></a>
    </div>
  </div>
  <!-- <div class="image-section">
    <img src="css/about.png">
  </div> -->
</div>
</div>



<%- include("footer") -%>